# NLP third session of coding
by javad pourmostafa (<a href=https://github.com/JoyeBright>his github</a>)

we can use **math scikit learn** library too it will make our learning part easier

In [41]:
import numpy as np
import pandas as pd
import math
pd.set_option("display.width", 1000)
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 1000)

##### 1-BOW of corpus
making our dataset named corpus

In [42]:
corpus = {1:"i am a student of computer engineering at the university of guilan",
          2:"i am studying natural language processing right now"}

## processing part

In [43]:
bow = []
for row in corpus:
    #print(corpus[row].split(' ')) 
    bow.append(corpus[row].split(' ')) #if we put nothing as split entry it will split by widespace
#print(bow)

##### 2-unique words in BOW

In [44]:
unique_words = set(bow[0]).union(set(bow[1]))
unique_words = sorted(unique_words,reverse=False)
unique_words

['a', 'am', 'at', 'computer', 'engineering', 'guilan', 'i', 'language', 'natural', 'now', 'of', 'processing', 'right', 'student', 'studying', 'the', 'university']

##### 3-create Document word matrix

In [56]:
for i in unique_words:
    doc1 = dict.fromkeys(unique_words, 0)
    doc2 = dict.fromkeys(unique_words, 0)
    #count accurance in Doc1
    
    for words in bow[0]:
        doc1[words] += 1
    for words in bow[1]:
        doc2[words] += 1
doc1
doc2

{'a': 0,
 'am': 1,
 'at': 0,
 'computer': 0,
 'engineering': 0,
 'guilan': 0,
 'i': 1,
 'language': 1,
 'natural': 1,
 'now': 1,
 'of': 0,
 'processing': 1,
 'right': 1,
 'student': 0,
 'studying': 1,
 'the': 0,
 'university': 0}

shown in pandas

In [55]:
document_word_matrix = pd.DataFrame([doc1,doc2])
document_word_matrix

   a  am  at  computer  engineering  guilan  i  language  natural  now  of  processing  right  student  studying  the  university
0  1   1   1         1            1       1  1         0        0    0   2           0      0        1         0    1           1
1  0   1   0         0            0       0  1         1        1    1   0           1      1        0         1    0           0

##### 4-tf_computations
tf = unique word in Docx / total words in Docx

In [54]:
def tf_computation(document, bag_of_words):
    tf_doc = {}
    bow_count = len(bag_of_words)
    #print(bow_count)
    for k,v in document.items():
        tf_doc[k] = float(v/bow_count)
    return tf_doc
#giving value to words which repeats
tf_doc1 = tf_computation(doc1, bow[0])
tf_doc2 = tf_computation(doc2,bow[1])

dw_tf = pd.DataFrame([tf_doc1, tf_doc2])
dw_tf
#print(dw_tf)

          a        am        at  computer  engineering    guilan         i  language  natural    now        of  processing  right   student  studying       the  university
0  0.083333  0.083333  0.083333  0.083333     0.083333  0.083333  0.083333     0.000    0.000  0.000  0.166667       0.000  0.000  0.083333     0.000  0.083333    0.083333
1  0.000000  0.125000  0.000000  0.000000     0.000000  0.000000  0.125000     0.125    0.125  0.125  0.000000       0.125  0.125  0.000000     0.125  0.000000    0.000000

##### 5-idf computations
idf = log(total of Docs/each words occurrence in Docs)

In [52]:
def idf_computation(docs):
    n = len(docs)
    idf_dict = dict.fromkeys(docs[0].keys(),0)
    for i in docs:
        for w,val in i.items():
            if val > 0:
                idf_dict[w] += 1
    for w,val in idf_dict.items():
        idf_dict[w] = float(math.log(n/val))
    #print(idf_dict)
    return idf_dict
idf_s = idf_computation([doc1,doc2])

##### 6-tf-idf computations

In [53]:
def tf_idf_computations(tf,idfs):
    tf_idf = {}
    for w,val in tf.items():
        tf_idf[w] = val * idfs[w]
    return tf_idf
tf_idf_doc1 = tf_idf_computations(tf_doc1, idf_s)
tf_idf_doc2 = tf_idf_computations(tf_doc2, idf_s)
output = pd.DataFrame([tf_idf_doc1, tf_idf_doc2])
output

          a   am        at  computer  engineering    guilan    i  language   natural       now        of  processing     right   student  studying       the  university
0  0.057762  0.0  0.057762  0.057762     0.057762  0.057762  0.0  0.000000  0.000000  0.000000  0.115525    0.000000  0.000000  0.057762  0.000000  0.057762    0.057762
1  0.000000  0.0  0.000000  0.000000     0.000000  0.000000  0.0  0.086643  0.086643  0.086643  0.000000    0.086643  0.086643  0.000000  0.086643  0.000000    0.000000